$bar_height: 32px;
$bar_spacing: 6px;
$bar_margin_v: 4px;
$bar_margin_h: 6px;
$bar_button_background_hover: false;

@mixin border_radius() {
  border-radius: 12px;
}

@mixin bar_button_hover($color, $transparentize: 0.9) {
  transition: 200ms;
  &:hover,
  .hover {
    background-color: transparentize($color, $transparentize);
    transition: 200ms;
  }
}

.bar {
  min-height: $bar_height;
  background-color: $bg;
  color: $fg;
  padding: 0 $bar_margin_h 0 0;

  label {
    font-family: $bar_font;
    font-size: $font_size;
    font-weight: 700;
  }

  .launcher-button {
    min-width: $bar_margin_h;
  }

  $ws_active_width: 26px;
  $ws_dot_size: 8px;
  $ws_padding: 8px;
  @keyframes activate_width {
    from {
      min-width: $ws_dot_size;
    }
    to {
      min-width: $ws_active_width;
    }
  }
  @keyframes activate_padding {
    from {
      padding: $ws_padding $ws_padding;
    }
    to {
      padding: $ws_padding 0;
    }
  }
  @keyframes deactivate_width {
    from {
      min-width: calc($ws_active_width / 2);
    }
    to {
      min-width: $ws_dot_size;
    }
  }
  @keyframes deactivate_padding {
    from {
      padding: $ws_padding 0;
    }
    to {
      padding: $ws_padding $ws_padding;
    }
  }
  .workspaces {
    margin: $bar_margin_v 0;

    .eventbox {
      @if $bar_button_background_hover {
        @include border_radius();
        @include bar_button_hover($surface1, 0);
      }
    }

    .ws-box {
      min-width: $ws_active_width * 6;
      margin: 0 $bar_spacing;
    }

    button {
      padding: $ws_padding;

      @include hover_lighten($amount: 0.15);

      animation: deactivate_padding $dur_short ease;
      .box {
        animation: deactivate_width $dur_short ease;
        margin: calc(($bar_height - $ws_dot_size - (2 * $ws_padding) - (2 * $bar_margin_v)) / 2) 0;
        border-radius: 1rem;
        min-height: $ws_dot_size;
        min-width: $ws_dot_size;
        background-color: $surface4;
      }
      &.empty {
        .box {
          background-color: $surface4;
        }
      }
      &.occupied {
        .box {
          background-color: $purple;
        }
      }
      &.active {
        animation: activate_padding calc($dur_short / 2) ease;
        padding: $ws_padding 0;
        .box {
          animation: activate_width $dur_short ease;
          min-width: $ws_active_width;
          background-color: $purple;
        }
      }
    }
  }

  .tasklist {
    button {
      * {
        background-color: transparent;
      }

      .icon {
        margin-right: 8px;
        color: $dark_blue;
      }

      color: $pink;
      padding: 0px $bar_spacing;
      border-radius: 0;
      &.active {
        color: $purple;
      }
      &.minimized {
        color: $fg;
        background-color: black;
      }
    }
  }

  .submenu {
    @include button($flat: true);
    margin: $bar_margin_v 2px;
    padding: 4px $bar_spacing - 2px;
    margin-left: $bar_spacing;
    margin-right: calc($bar_spacing / 2);
  }
  .systray {
    margin: 0 calc($bar_spacing/2) 0 $bar_spacing;
    button {
      @include button($flat: true);

      $icon_size: 14px;
      $button_size: $icon_size + $bar_spacing;
      image {
        font-size: $icon_size;
      }
      padding: 0 calc($bar_spacing / 2);
      margin: calc(($bar_height - $button_size) / 2) 0;
    }
  }

  .media {
    .text {
      margin: $bar_margin_v 0px;
      padding: 0px $bar_spacing - 2px 0px $bar_spacing - 2px;
      border-radius: 1em;
      @if $bar_button_background_hover {
        @include bar_button_hover($surface1, 0);
      }
    }

    *.cover {
      $cover_size: 14px;
      min-width: $cover_size;
      min-height: $cover_size;
      padding: calc(($bar_height - $cover_size) / 2) 0;
      margin-right: 2px;
      image {
        font-size: $cover_size;
        color: $fg;
      }
      .image {
        border-radius: 2px;
        background-size: cover;
        background-position: center;
      }
    }
    .artist {
      color: $red;
    }
    .title {
      color: $orange;
    }
  }

  .system-indicators {
    margin: $bar_margin_v 0;
    .eventbox {
      @include border_radius();
      @if $bar_button_background_hover {
        @include bar_button_hover($surface1, 0);
      }
      transition: $dur_med;
      &.active {
        transition: $dur_med;
        background-color: $surface1;
      }
    }
  }

  .volume {
    color: $green;
    padding: 0 $bar_spacing;
    image {
      font-size: $font-size - 2px;
      margin-right: 4px;
    }
  }

  .network {
    color: $blue;
    padding: 0 $bar_spacing;
    image {
      font-size: $font-size - 2px;
    }
  }

  .clock-button {
    color: $purple;
    padding: 0 $bar_spacing;
  }
}
