window#confirm {
  .confirm {
    @include floating_widget;

    min-width: 250px;

    * {
      font-family: $sans_font;
      margin: calc($spacing/2);
    }

    .desc {
      font-size: 1.4rem;
    }

    button {
      @include button($flat: true, $hoverable: false, $transition_dur: 0);
      label {
        font-size: 1.3rem;
      }
    }
  }
}
