window#confirm {
  .shade {
    background-color: transparentize($color: #000000, $amount: 0.3);
  }

  .confirm {
    @include floating_widget;

    padding: 0 32px;
    * {
      font-size: 1.5rem;
      font-family: $sans_font;
      margin: calc($spacing/2);
    }

    button {
      @include button($flat: false);
      margin-top: 0;
      padding: 0 $padding * 2;
    }
  }
}
