@mixin calendar {
  @include widget;
  padding: $spacing * 2 $spacing * 2 0;

  calendar {
    all: unset;

    &.button {
      @include button($flat: true);
      margin: 1em;
    }

    &:selected {
      background-color: transparentize($accent, 0.5);
      border-radius: calc($radii / 2);
    }

    &.header {
      background-color: transparent;
      border: none;
      color: $fg;
    }

    &.highlight {
      background-color: transparent;
      color: $accent;
    }

    &:indeterminate {
      color: transparentize($fg, 0.7);
    }
    font-size: 1.1em;
    padding: 0.2em;
  }
}

window#dashboard .dashboard {
  @include floating_widget;
  * {
    font-family: $sans_font;
  }

  separator {
    background-color: $border_color;
    min-width: 1px;
    min-height: 1px;
    border-radius: $radii;
    margin: $spacing 0;
  }

  .notifications {
    min-width: 330px;

    .header {
      padding-left: 0.3em;
      margin-bottom: $spacing;

      label {
        font-size: 1.2em;
      }

      button {
        @include button;
        padding: calc($spacing / 2) $spacing;

        label {
          font-size: 1.1em;
        }
      }
    }

    .notification-scrollable {
      @include scrollable;

      .notification {
        @include notification;
        @include widget;
        margin: calc($spacing / 2) 0;
        padding: $spacing;

        .actions {
          button {
            background-color: $surface2;
          }
        }
      }
    }

    .placeholder {
      color: $fg;
      image {
        font-size: 6em;
      }
      label {
        margin-top: 1em;
        font-size: 1em;
      }
    }
  }

  .clock {
    color: $fg;
    font-size: 5em;
  }

  .header {
    separator {
      background-color: $bg;
      min-width: $spacing;
      min-height: 1px;
    }
  }

  .system-box {
    @include widget;
    @include spacing($rec: true);

    padding: $padding;

    .uptime,
    button {
      @include button($flat: false);
      @if $radii == 0 {
        border-radius: 0;
      } @else {
        border-radius: 1.5em;
      }
      background-color: $surface2;
      padding: calc($padding/2);
      font-size: 1.2em;
      min-height: 28px;
      min-width: 28px;
      image {
        font-size: 1em;
      }
    }
  }

  .avatar {
    @include widget;
    border-radius: 100%;
  }

  .quick-settings {
    @include spacing();
    button {
      @if $radii == 0 {
        border-radius: 0;
      } @else {
        border-radius: 1.5em;
      }
    }

    .quick-tiles {
      @include widget;
      @include spacing($rec: true);
      padding: $padding;

      button {
        @include button($flat: false);
        @if $radii == 0 {
          border-radius: 0;
        } @else {
          border-radius: 1.5em;
        }
        background-color: $surface2;
        padding: 0 $padding * 1.5;
        font-size: 1.2rem;
        min-height: 40px;
        min-width: 24px;
        > box {
          padding-left: calc($padding/2);
        }
        label {
          font-size: 1em;
        }
        image {
          font-size: 1em;
        }
        .font-icon {
          font-family: $mono_font;
          font-size: 2rem;
        }
        .opensnitch {
          font-size: 1.4em;
        }
        .open-icon {
          font-size: 0.85em;
        }
      }
    }

    .sliders-box {
      @include widget;
      @include spacing($rec: true);
      @include spacing(0);
      padding: $padding;

      .brightness-icon,
      button {
        @include button($flat: true);
        padding: calc($padding / 2) $padding;

        &.arrow {
          padding: calc($padding / 2);
        }
      }

      scale {
        @include slider;
        margin-left: $spacing * -0.5;
      }

      .menu {
        margin: $spacing 0;
        separator {
          margin: 0;
        }
      }

      .mixer-item {
        margin: 0 $spacing $spacing $spacing;
        scale {
          @include slider($width: 7px);
        }
        image {
          font-size: 1.2em;
        }
      }

      .selected {
        background-color: $surface2;
      }
    }
  }

  .calendar {
    @include calendar;
  }

  .row {
    @include spacing($rec: true);
  }

  .arrow-opened {
    color: $light_grey;
  }

  .menu {
    @include unset;
    @include widget;
    @include spacing($rec: true);
    background-color: $bg;
    padding: $padding;
    margin-top: $spacing;
    border-radius: $radii;

    .title {
      @include spacing(0.5);
      * {
        font-size: 1em;
        font-weight: 600;
      }
    }

    separator {
      margin: 0 calc($radii / 2);
    }

    button {
      @include button($flat: true);
      padding: calc($padding / 2) $padding;
    }

    switch {
      @include switch;
    }

    .selected {
      background-color: $surface2;
    }
  }

  .toggle-button {
    @include button;
    font-weight: bold;

    .label-box {
      @include spacing(0.5);
    }

    button {
      @include button($flat: true);
      padding: $padding;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.active {
      background-color: $accent;

      label,
      image {
        color: $accent-fg;
      }
    }
  }

  .simple-toggle {
    @include button;
    padding: $padding;
  }
}
