$app_size: 128px;
$scrollbar_width: 10px;

window#launcher .launcher {
  @include floating_widget;
  padding: $padding * 2 ($padding * 2 - $scrollbar_width) $padding * 2 $padding *
    2;

  entry {
    @include button;
    padding: 0.5em $padding;
    margin: 0 $app_size * 1.5;
    margin-bottom: $padding * 2;
    border-radius: 2em;
    min-width: 5px;

    label,
    image {
      color: $fg;
    }
    image {
      margin-right: $spacing;
    }
  }

  scrolledwindow {
    @include scrollable;
    min-width: 5 * $app_size + $scrollbar_width;
    min-height: 3 * $app_size;
    background-color: $bg;
    .app-list {
      margin-right: $spacing;
    }
  }

  flowboxchild {
    .app-item {
      @include button($flat: true, $reactive: false);
      > box {
        @include spacing(0.5);
      }
      transition: $dur_short;
      min-width: $app_size;
      min-height: $app_size;
      label {
        font-size: $font_size - 1px;
        transition: $dur_short;
        margin-top: calc($spacing / 2);
        &.title {
          color: $fg;
        }
        &.description {
          color: transparentize($fg, 0.3);
        }
      }

      image {
        transition: $dur_short;
      }

      &:hover {
        background-color: $surface1;
      }

      &:focus {
        box-shadow: inset 0 0 0 3px $border-color;
      }

      &:active {
        border-radius: $radii;
        box-shadow: inset 0 0 0 $border-width $border-color;

        .title {
          color: $fg;
        }
      }
    }
  }
}
