$grey: #4b485b;
$mid_grey: #575369;
$light_grey: #635f77;

$red: #ff87a5;
$pink: #eda4ca;
$dark_red: #ff698e;

$green: #9ce69c;
$light_green: #b0ebb0;
$dark_green: #87e287;

$orange: #ffbd94;
$yellow: #f2d48d;
$dark_orange: #ffaa75;

$blue: #82acff;
$light_blue: #a1c3ff;
$dark_blue: #699bff;

$purple: #b7a3ff;
$light_purple: #c9b8ff;
$dark_purple: #a38aff;

$cyan: #62c8d4;
$light_cyan: #75e0e6;
$dark_cyan: #5cc0c7;

$fg: #eeeeee;
$fg_dark: #cccccc;
$bg_dark: #0b0a0d;
$bg: #141319;
$surface0: #19171f;
$surface1: #201f28;
$surface2: #2d2b36;
$surface3: #383644;
$surface4: $grey;
$shadow_color: #00000040;

$radii: 12px;
$spacing: 8px;
$padding: 8px;
$border_width: 1px;
$border: solid;
$border_color: $surface1;
$hover: $surface3;
$hover_fg: $fg;
$accent_fg: black;
$accent: $purple;
$active_gradient: linear-gradient(to right, $accent, lighten($accent, 6%));
$font_size: 10pt;
$bar_font: "CaskaydiaCove Nerd Font", "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
$sans_font: "Roboto", "Noto Sans", sans-serif;
$mono_font: "CaskaydiaCove Nerd Font Mono", monospace;

$dur_short: 100ms;
$dur_med: 200ms;
$dur_long: 400ms;
$md3_emph_decel: cubic-bezier(0.05, 0.7, 0.1, 1);
$md3_emph_accel: cubic-bezier(0.3, 0, 0.8, 0.15);

@import "./common.scss";

* {
  all: unset;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $sans_font;
  font-size: $font_size;
}

window {
  background-color: transparent;
}

.desktop {
  background-color: transparent;
}

.alt-tab {
  $client_size: 128px;

  @include floating_widget;
  padding: calc($spacing / 2);

  flowboxchild {
    .client {
      min-width: $client_size - 2 * $padding;
      min-height: $client_size - 2 * $padding;
      padding: $padding;
      margin: calc($spacing / 2);
      border-radius: $radii;
      label {
        font-family: $sans_font;
        font-size: 12px;
      }
    }
    .selected {
      background-color: $surface2;
    }
  }
}

label {
  font-weight: 500;
}

window.popup {
  > * {
    border: none;
    box-shadow: none;
  }

  menu {
    border-radius: 8px;
    background-color: $bg;
    padding: calc($spacing / 2);
    border: $border;

    separator {
      background-color: $border_color;
    }

    menuitem {
      @include button($flat: true);
      * {
        font-weight: 600;
        font-size: 0.97em;
      }
      padding: calc($spacing / 4) $spacing * 2;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

tooltip {
  background-color: transparent;
  border: none;

  > * > * {
    background-color: $bg;
    border-radius: $radii;
    border: $border_width solid $border_color;
    color: $fg;
    padding: 4px;
    margin: 0px;
    box-shadow: 0 0 4px $shadow_color;
  }
}

@import "./bar.scss";
@import "./notifications.scss";
@import "./dashboard.scss";
@import "./launcher.scss";
@import "./powermenu.scss";
@import "./confirm.scss";
