@import "./colors.scss";

$radii: 12px;
$spacing: 8px;
$padding: 8px;
$border_width: 1px;
$border: solid;
$active_gradient: linear-gradient(to right, $accent, lighten($accent, 6%));
$font_size: 10pt;
$bar_font: "CaskaydiaCove Nerd Font", "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
$sans_font: "Roboto", "Noto Sans", sans-serif;
$mono_font: "CaskaydiaCove Nerd Font Mono", monospace;

$dur_short: 100ms;
$dur_med: 200ms;
$dur_long: 400ms;
$md3_emph_decel: cubic-bezier(0.05, 0.7, 0.1, 1);
$md3_emph_accel: cubic-bezier(0.3, 0, 0.8, 0.15);

@import "./common.scss";

* {
  all: unset;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $sans_font;
  font-size: $font_size;
  -gtk-icon-theme: "Adwaita";
}

window {
  background-color: transparent;
}

.desktop {
  background-color: transparent;
}

.alt-tab {
  $client_size: 128px;

  @include floating_widget;
  padding: calc($spacing / 2);

  flowboxchild {
    .client {
      min-width: $client_size - 2 * $padding;
      min-height: $client_size - 2 * $padding;
      padding: $padding;
      margin: calc($spacing / 2);
      border-radius: $radii;
      label {
        font-family: $sans_font;
        font-size: 12px;
      }
    }
    .selected {
      background-color: $surface2;
    }
  }
}

label {
  font-weight: 500;
}

window.popup {
  > * {
    border: none;
    box-shadow: none;
  }

  menu {
    border-radius: 8px;
    background-color: $bg;
    padding: calc($spacing / 2);
    border: $border;

    separator {
      background-color: $border_color;
    }

    menuitem {
      @include button($flat: true);
      * {
        font-weight: 600;
        font-size: 0.97em;
      }
      padding: calc($spacing / 4) $spacing * 2;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

tooltip {
  background-color: transparent;
  border: none;

  > * > * {
    background-color: $bg;
    border-radius: $radii;
    border: $border_width solid $border_color;
    color: $fg;
    padding: 4px;
    margin: 0px;
    box-shadow: 0 0 4px $shadow_color;
  }
}

@import "./bar.scss";
@import "./notifications.scss";
@import "./dashboard.scss";
@import "./launcher.scss";
@import "./powermenu.scss";
@import "./confirm.scss";
