@mixin notification() {
  &.critical {
    border: $border_width solid $red;
  }

  // > box {
  //   border-radius: calc($radii / 2);
  //   padding: $padding;
  // }

  .content {
    .title {
      margin-right: $spacing;
      color: $fg;
      font-size: 1.2em;
    }

    .time {
      color: transparentize($fg, 0.2);
    }

    .description {
      font-size: 1em;
      color: transparentize($fg, 0.2);
    }

    .icon {
      font-size: 78px;
      min-width: 78px;
      min-height: 78px;
      border-radius: $radii * 0.8;
      margin-right: $spacing;

      &.img {
        border: $border;
      }
    }
  }

  .actions {
    &.visible {
      margin-top: $spacing;
    }

    button {
      @include button;
      border-radius: $radii * 0.8;
      font-size: 1.2em;
      padding: calc($spacing / 2) 0;
      margin: 0 calc($spacing / 2) 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  button.close-button {
    @include button($flat: true);
    margin-left: $spacing;
    border-radius: $radii * 0.8;
    min-width: 1.2em;
    min-height: 1.2em;

    &:hover {
      background-color: transparentize($red, 0.5);
    }

    &:active {
      background-image: linear-gradient($red, $red);
    }
  }
}

.notifications-popup-list {
  .notification {
    @include floating_widget;
    @include notification;
    border-radius: $radii;
    margin-bottom: 0;

    .description {
      min-width: 350px;
    }
  }
}
